# --- For-Bot-Working --------- #
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
umongo
dnspython
# --- For-Web-Response ------- #
aiohttp
asyncio
